{{#each this}}
  {{#if is_section}}
    <div class="menu-section">
      <div class="menu-section-title">{{title}}</div>
      <div class="submenu">
        {{> navigation_template children}}
      </div>
    </div>
  {{else}}
    <div class="menu-item">
      <a href="{{url}}">{{title}}</a>
    </div>
  {{/if}}
{{/each}}