@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: #f9fafb;
    --color-text: #1a202c;
    --color-table-body: #f5f5f5;
    --color-table-header: #d7d7d7;
    --color-code-background: #ebebeb;
  }

  :root[class~="dark"] {
    --color-background: #222;
    --color-text: #e1e1e1;
    --color-table-body: #2d2d2d;
    --color-table-header: #1d1d1d;
    --color-code-background: #3c3c3c;
  }
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  @apply bg-background text-textColor;
}

main {
  word-break: break-word;
  max-width: 100%;
  /* @apply bg-white dark:bg-zinc-800 */
}

h1 {
  @apply text-4xl font-bold my-4;
}

h2 {
  @apply text-3xl font-semibold my-4;
}

h3 {
  @apply text-2xl font-medium my-4;
}

h4 {
  @apply text-xl font-medium my-4;
}

h5 {
  @apply text-lg font-normal my-4;
}

h6 {
  @apply text-base font-normal my-4;
}


pre>code {
  @apply bg-code-background rounded-xl my-4;
  @apply border-[1px]
}

code {
  @apply bg-code-background rounded-md p-1;
}

p {
  @apply my-4;
}

ol {
  list-style: auto;
}

ul {
  @apply my-4;
  list-style: disc;
}

li {
  @apply ml-4 mb-2;
}

hr {
  @apply my-4 border-t border-gray-200 dark:border-gray-600;
}

table {
  @apply divide-y divide-gray-200 dark:divide-gray-600 my-4 w-full block overflow-auto rounded-lg;
}

thead {
  @apply bg-table-header w-full;
}

th {
  @apply px-6 py-3 text-left text-xs font-medium uppercase tracking-wider;
}

tbody {
  /* @apply bg-white dark:bg-gray-900; */
  @apply bg-table-body;
  white-space: pre;
}

tr {
  @apply transition duration-150 ease-in-out;
}

td {
  @apply px-6 py-4 text-sm;
}

tr:hover {
  @apply bg-gray-100 dark:bg-gray-700;
}

a {
  @apply text-blue-500 dark:text-blue-300;
}